.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


.login-container {
    padding: 1rem 11rem !important;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
    position: relative;
    right: 69px;
    top: 14%;
}

.login-container {
    background: radial-gradient(circle, rgba(238,174,174,1) 0%, rgba(148,187,233,1) 100%);
}