

.svg-inline--fa {
    height: 0.85em !important;
 
}

.navbar-container {
    background-color: #f4f4f5;
    position: fixed;
    height: 10% !important;
    width: 100%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items vertically */
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
    overflow: hidden; /* Ensure content does not overflow */
}