.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust gap between cards if needed */
    padding: 3rem 1rem 3rem 1rem;
}

.product-list .mdb-row {
    width: 100%;
}

.product-list .mdb-col {
    flex: 1;
    min-width: 250px; /* Adjust minimum width as needed */
}

.g-4, .gy-4 {
    --bs-gutter-y: -4rem !important;
}

.g-4, .gx-4 {
    --bs-gutter-x: 0.9rem !important;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 20% !important;
}

.card {
    height: 82% !important;
}

.list-title {
    color: darkblue;
    font-family: cursive;
    position: relative;
    text-align: center;
    text-decoration: underline;
    max-width: 25%;
}
